<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Account</title>
        <%- include('./templates/shared-header.ejs') %>
        <link rel="stylesheet" href="../../styles/education_history.css">
        <link rel="stylesheet" href="../../styles/sidebar.css">
        <link rel="stylesheet" href="../../styles/infoform.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker"></script>
    </head>

    <header>
        <h1>User Information - Education History</h1>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </header>

    <body onload="validateEducationHistoryForm()">

        <%- include('./templates/main-nav.ejs') %>
        
        <div class="scrollable">
            <div class="flex-wrapper">
                <aside>
                    <%- include('./templates/information_nav.ejs') %> 
                </aside>

                <main>
                    <span id="submit_success_message" <% if (successParam==='true' ) { %>style="display: inline; color: green;"<% }
                        else { %>style="display: none;"<% } %>>
                            Success!
                    </span>

                    <span id="submit_error_message" <% if (errorParam==='true' ) { %>style="display: inline; color: red;"<% } else {
                            %>style="display: none;"<% } %>>
                                Error!
                    </span>



                    <div id="education_forms_container">
                        <form action="/submit" method="post" class="education_form" oninput="validateEducationHistoryForm()">
                            <label for="name">Name of Institution:</label><br>
                            <input type="text" class="name" name="name" value="<%= userData.name || 'Colorado State University' %>" required><br>
                            
                            <label for="type">Type of Institution:</label><br>
                            <input type="text" class="type" name="type" value="<%= userData.type || 'University' %>" required><br>
                            
                            <label for="city">City:</label><br>
                            <input type="text" class="city" name="city" value="<%= userData.city || 'Fort Collins' %>" required><br>
                            
                            <label for="country">Country:</label><br>
                            <input type="text" class="country" name="country" value="<%= userData.country || 'United States' %>" required><br>
                            
                            <label for="start_date">Start Date:</label><br>
                            <input type="date" class="start_date" name="start_date" value="<%= userData.start_date || '2020-08-01' %>" required><br>
                            
                            <label for="end_expec_date">Expected End Date:</label><br>
                            <input type="date" class="end_expec_date" name="end_expec_date" value="<%= userData.end_expec_date || '2024-05-01' %>" required><br>
                            
                            <label for="degree_type">Degree Type:</label><br>
                            <input type="text" class="degree_type" name="degree_type" value="<%= userData.degree_type || 'Bachelors' %>" required><br>
                            
                            <label for="major">Major:</label><br>
                            <input type="text" class="major" name="major" value="<%= userData.major || 'Computer Science' %>" required><br>
                            
                            <label for="minor">Minor:</label><br>
                            <input type="text" class="minor" name="minor" value="<%= userData.minor || '' %>" ><br>
                            
                            <label for="concentration">Concentration:</label><br>
                            <input type="text" class="concentration" name="concentration" value="<%= userData.concentration || '' %>" ><br>
                            
                            <label for="gpa">GPA:</label><br>
                            <input type="number" class="gpa" name="gpa" step="0.01" min="0" max="4" value="<%= userData.gpa || '3.5' %>"  required>
                            <input type="hidden" name="sourcePage" value="education_history">
                        </form>
                        <button id="add_new_form" type="button" onclick="addEducationForm()">Add School</button>
                        <button class="submit_button_100" type="submit" id="submitBtn_education_history">Submit</button>
                    </div>
                    <div id="error-box"></div>
                </main>

            </div>
        </div>

    </body>

    <script>
        $(function() {
            $('input[name="start_date"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    format: "YYYY-MM-DD"
                }
            }).on('click', function(ev) {
                ev.preventDefault();
            });
        });

        $(function() {
            $('input[name="end_expec_date"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    format: "YYYY-MM-DD"
                }
            }).on('click', function(ev) {
                ev.preventDefault();
            });
        });
        
        
        $(document).on('click', '.applyBtn', function() {
                validateEducationHistoryForm();
            });
</script>

<script>
        function addEducationForm() {
            const container = document.getElementById('education_forms_container');
            const newForm = document.createElement('form');
            newForm.action = '/submit';
            newForm.method = 'post';
            newForm.className = 'education_form';
            newForm.setAttribute('oninput', 'validateEducationHistoryForm()');

            newForm.innerHTML = `
            <label for="name">Name of Institution:</label><br>
            <input type="text" class="name" name="name" required><br>
            
            <label for="type">Type of Institution:</label><br>
            <input type="text" class="type" name="type" required><br>
            
            <label for="city">City:</label><br>
            <input type="text" class="city" name="city" required><br>
            
            <label for="country">Country:</label><br>
            <input type="text" class="country" name="country" required><br>
            
            <label for="start_date">Start Date:</label><br>
            <input type="date" class="start_date" name="start_date" required><br>
            
            <label for="end_expec_date">Expected End Date:</label><br>
            <input type="date" class="end_expec_date" name="end_expec_date" required><br>
            
            <label for="degree_type">Degree Type:</label><br>
            <input type="text" class="degree_type" name="degree_type" required><br>
            
            <label for="major">Major:</label><br>
            <input type="text" class="major" name="major" required><br>
            
            <label for="minor">Minor:</label><br>
            <input type="text" class="minor" name="minor"><br>
            
            <label for="concentration">Concentration:</label><br>
            <input type="text" class="concentration" name="concentration"><br>
            
            <label for="gpa">GPA:</label><br>
            <input type="number" class="gpa" name="gpa" step="0.01" min="0" max="4" required>
            <input type="hidden" name="sourcePage" value="education_history">
            `;
            container.appendChild(newForm);

            var addButton = document.querySelector('#add_new_form')
            if (addButton) {
                addButton.remove();
            }
            var removeButton = document.querySelector('#remove_last_form')
            if (removeButton) {
                removeButton.remove();
            }
            const forms = container.querySelectorAll('#education_forms_container form');
            if (forms.length <= 2) {
                var btn = document.createElement('button');
                btn.setAttribute('id', 'add_new_form');
                btn.setAttribute('type', 'button');
                btn.setAttribute('onclick', 'addEducationForm()');
                btn.textContent = 'Add School';
                container.appendChild(btn);
            }


            var btn = document.createElement('button');
            btn.setAttribute('id', 'remove_last_form');
            btn.setAttribute('type', 'button');
            btn.setAttribute('onclick', 'removeLastEducationForm()');
            btn.textContent = 'Remove School';
            container.appendChild(btn);

        }

        function removeLastEducationForm() {
            const container = document.getElementById('education_forms_container');
            const forms = container.querySelectorAll('#education_forms_container form');
            const lastForm = forms[forms.length - 1];
            if (lastForm) {
                container.removeChild(lastForm);
            }
            if (forms.length >= 2) {
                const container = document.getElementById('education_forms_container');
                const removeButton = document.getElementById('remove_last_form');
                if (removeButton) {
                    container.removeChild(removeButton);
                }
            }
        }
</script>

<script>
    const submitButton = document.getElementById('submitBtn_education_history');

    const forms = document.querySelectorAll('#education_forms_container form');

    function submitForms() {
        forms.forEach((form, index) => {
            const formData = new FormData(form);
            formData.append('ind', index);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    console.log(`Form ${index + 1} submitted successfully`);
                } else {
                    console.error(`Error submitting form ${index + 1}: ${response.statusText}`);
                }
            })
            .catch(error => {
                console.error(`Error submitting form ${index + 1}: ${error.message}`);
            });
        });
    }
</script>

</html>